body {
  background-color:cornflowerblue;
  color:white;
  font-size: 300%;
  text-align: center;
}
h3 {
  font-size: 50%;
}

p {
  font-family: 'Comfortaa', cursive;
font-family: 'Prert 2P', cursive;
font-family: 'Zen Loop', cursive;
}

img {
  width: 30%;
  height: 30%;
}